.hightlight {
  color: #fff;
  font-size: 1.28em;
  text-shadow: 0px 0px 15px #fff;
}
.node {
  width: 123px;
  height: 30px;
  line-height: 30px;
  background: url("~@/assets/1.png") no-repeat;
  color: #67c7eb;
  padding: 0 20px 0 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  .demo {
    background-color: lightblue;
    color: red;
  }
}
