body {
    font-size: 14px;
}

.hightlight {
    color: #fff;
    font-size: 1.28em;
    text-shadow: 0px 0px 15px #fff;
}

/* .node {
    width: 123px;
    height: 30px;
    line-height: 30px;
    background: url("~@/assets/1.png") no-repeat;
    color: #67c7eb;
    padding: 0 20px 0 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.node-active {
    background: url("~@/assets/1-active.png") no-repeat;
    color: #fff;
} */

.vue-scrollbar__scrollbar-vertical .scrollbar,
.vue-scrollbar__scrollbar-horizontal .scrollbar {
    background: fade(#fff, 50%)
}